@import "reset";

.section-form {
  background: #fff;
}

.section-result {
  background: #f6f6f6;
}

.container {
  padding: 40px 30px 10px 40px;
}

.page-logo {
  margin-bottom: 2.5rem;
}

strong {
  font-weight: bold;
}

.page-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #0b2a1e;
  margin-bottom: 40px;
  line-height: 49px;
}

.question {
  margin-bottom: 50px;
  &__pic {
    margin-bottom: 0.2rem;
  }

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #848484;
    margin-top: 6px;
    margin-bottom: 24px;
    padding-right: 2rem;
  }

  &__input {
    position: relative;
    select {
      border: 1px solid #a8a8a8;
      box-sizing: border-box;
      border-radius: 19px;
      width: 100%;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 27px;
      padding: 0.5rem 1rem;
      background: transparent;
      color: #a8a8a8;
    }
    &::after {
      content: "";
      width: 18px;
      height: 9px;
      position: absolute;
      top: 40%;
      right: 1rem;
      background-image: url(../../assets/img/icon-arrow.png);
      background-repeat: no-repeat;
    }
  }
}

.no-results {
  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #a9a9a9;
    margin-bottom: 15px;
  }

  &__note {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #a9a9a9;
    margin-bottom: 50px;
  }

  &__pic {
    width: 90%;
    margin: 0 auto;
    display: block;
    max-width: 442px;
  }
}
