@import "reset";
@import "mixins/responsive";

body {
  background: #f6f6f6;
}

div {
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  @include min-tablet-size {
    width: 85%;
  }
  @include min-desktop-medium-size {
    width: 968px;
  }
  // @include min-desktop-large-size {
  //   width: 1260px;
  // }
}

.section-form {
  background: #fff;
  .container {
    padding: 40px 30px 10px 40px;
  }
}

.section-result {
  .container {
    @include min-desktop-size {
      padding: 40px 30px 100px 40px;
    }
  }
}

.page-logo {
  margin-bottom: 2.5rem;
}

.page-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #0b2a1e;
  margin-bottom: 40px;
  line-height: 49px;
  max-width: 400px;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include min-desktop-size {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 80px;
    justify-content: space-between;
  }
}

.question {
  margin-bottom: 50px;
  @include min-desktop-size {
    margin-bottom: 0;
    margin-right: 30px;
  }
  &__pic {
    margin-bottom: 0.2rem;
  }

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #848484;
    margin-top: 6px;
    margin-bottom: 24px;
    padding-right: 2rem;
  }

  &__input {
    position: relative;
    max-width: 250px;

    border: 1px solid #a8a8a8;
    box-sizing: border-box;
    border-radius: 50px;
    width: 100%;
    background: transparent;

    select {
      width: 100%;
      padding: 0.4rem 1rem;
      color: #a8a8a8;
      -webkit-appearance: none;
      -moz-appearance: none;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 27px;
      border: none;
      background: transparent;
    }
    &::after {
      content: "";
      width: 18px;
      height: 9px;
      position: absolute;
      top: 40%;
      right: 1rem;
      background-image: url(../../assets/img/icon-arrow.png);
      background-repeat: no-repeat;
    }
  }
}

.no-results {
  &__content {
    padding: 40px 30px 0;
  }
  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #a9a9a9;
    margin-bottom: 15px;
  }

  &__note {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #a9a9a9;
    margin-bottom: 50px;
    max-width: 240px;
  }

  &__pic {
    width: 90%;
    margin: 0 auto;
    display: block;
    max-width: 442px;
  }

  @include min-desktop-size {
    .container {
      display: flex;
      align-items: center;
      padding: 20px;
    }
  }
}

.result {
  padding: 0 0.5rem;
}

.result-list {
  &__pic {
    margin-top: 10px;

    @include min-desktop-size {
      width: 158px;
    }
  }

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #0c261c;
    margin-top: 15px;
    margin-bottom: 34px;
    @include min-desktop-size {
      font-size: 55px;
      line-height: 67px;
      margin-bottom: 68px;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;

    @include min-desktop-size {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      grid-gap: 34px;
      padding: 0;
      margin-bottom: 60px;
    }
  }
}

.card {
  background: #ffffff;
  box-shadow: 0px 18px 28px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  padding: 1rem 2rem;
  min-width: 268px;
  max-width: 268px;
  height: 284px;
  margin-right: 20px;

  @include min-desktop-size {
    margin-bottom: 40px;
    margin: 0 auto;
    box-shadow: none;
  }

  &__pic {
    width: 100%;
    height: 168px;
    object-fit: cover;
    margin-bottom: 12px;
  }

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #1e6b4e;
  }

  &__note {
    margin-top: 5px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.7rem 2rem;
  background: transparent;
  border: 1px solid #15573f;
  box-sizing: border-box;
  border-radius: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #196146;
  transition: all ease 0.2s;
  &:hover {
    background: #15573f;
    color: #fff;
  }

  &__icon {
    width: 22px;
    height: 18px;
    display: inline-block;
    margin-right: 10px;
    background-repeat: no-repeat;
    &.icon-seta {
      width: 22px;
      height: 24px;
      background-image: url(../../assets/img/icon-seta.png);
    }
  }
}
